<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  If you require any help or assistance with this application, please sends your questions or queries to this <a href="mailto:20040384@mail.wit.ie?Subject=Human%20Resource%20Support%20System">e-mail</a>
</p>