<% provide(:title, "Time and Attendance") %>
<div class="row">
   <div style="white-space: nowrap">
  <%#= form_for(@user) do |f| %>
   <div style="white-space: nowrap">
<h1>Employee 1</h1>
<b>

Personnel Number: 2065</br>
Name: Employee 1</br>
E-mail: abcdefg@gmail.com</br>
Address: Waterford, the quay, 51</br>
Telephone: (051) 654978</br>
Date of Birth: 07/06/1980</br>
Sex: male</br>
Commencement: 05/06/2012</br>
Termination: N/A</br>
Insurance: Berkleys health insurance</br>
Grade: 2.1</br>
Centre: Waterford</br>
Post: East Branch</br>
Division: Programming</br>
Location: Waterford City</br>
Salary Scale: 1</br>
Pay Centre: Waterford</br>
      
</b>
      </h1>

    </section>
  </aside>
</div>

