<% provide(:title, "Add Employee Record") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
         </br></br><%= link_to "Add an Employee Record", addrec_path,  class: "btn btn-large btn-primary" %>
        </br></br><%= link_to "Edit an Employee Record", editrec_path, class: "btn btn-large btn-primary" %>
        </br></br><%= link_to "Delete an Employee Record", delrec_path, class: "btn btn-large btn-primary" %>
      </h1>
    </section>
  </aside>
</div>

