<% provide(:title, 'Select Employee') %>
<h1>Employee:</h1>
<div class="row">
  <div class="span6 offset2">
    routes to updateemp.html.erb
    <%= form_tag(view_records_path) do %>
  
  <%= label_tag(:user_id, "User:") %>
  <%#= text_field_tag(:y )%>
   <%= select_tag :user_id, options_for_select(@users) %> </br>
  <%= submit_tag("Continue") %>
   <%end%>   

   <%#= link_to "Add task", menu_path, class: "btn btn-large btn-primary" %>

  </div>  </div>
</div>
