<% provide(:title, "Employees") %>

   



    <% if @user %>

<div class="row">
  <div style="white-space: nowrap">
    <div class="span6 offset2">

 <caption><b>You are currently viewing all employees</b></caption></br>

      <div class="widescroll">
<table class="table table-condensed">
  
 <th>Personnel Number</th><th>Name</th><th>Details</th><th>Update</th>    
        <% @user.each do |f| %>
<tr class="success">
    <td><%=f.personnel_number%></br></td>
<td><%=f.name%></br></td>
<td><%= link_to "See Details", f%> </br></td>
<td><%= link_to "Update Details", edit_employee_path(:user_id => f.id)%></td>
        <%end%></tr>
       </div>
        </table>
        </div>
  </div> 
</div>  
      <% else %>
<h2> No users found!</h2>
    <% end %>
  </div>
  </div> 
</div>