<% provide(:title, @user.name) %>
<h1>Employee:</h1>
<div class="row">
  <div class="span6 offset2">
   

<%= form_tag(view_time_records_path(:x => @user.id)) do %>
  
  <%= label_tag(:y, "Year:") %>
  <%#= text_field_tag(:y )%>
  <%= select_year(Date.today, :y=>"dateStarted") %></br>
  <%= submit_tag("Continue") %>

  <%#= link_to "View Time and Attendance Records", view_time_records_path(:x => @user.id) , class: "btn btn-info btn-small" %>
   <%end%>   
  </div>
</div>
