<% provide(:title, 'Add Task') %>
<h2>Skills Management</h2>
<div class="row">
  <div class="span6 offset2">
  	<ul class="nav nav-list">  
  <li><%= link_to "Create Skill", skillsadd_path , {:style=>'color:#303030;', :class => "btn"} %></li></br>
  <li><%= link_to "Add Skill to task", taskskills_path , {:style=>'color:#303030;', :class => "btn"} %></li></br>
  <li><%= link_to "Add Skill to employee", employeeskills_path , {:style=>'color:#303030;', :class => "btn"} %></li></br>
  </div>  </div>
</div>
