<% provide(:title, 'Add Task') %>
<h1>Skill:</h1>
<div class="row">
  <div class="span6 offset2">
    <%= link_to "Create Skill", skillsadd_path, class: "btn btn-large btn-primary" %></br></br>
        <%= link_to "Add Skill to task", taskskills_path, class: "btn btn-large btn-primary" %></br></br>
        <%= link_to "Add Skill to employee", employeeskills_path, class: "btn btn-large btn-primary" %></br></br>

   <%#= link_to "Add task", menu_path, class: "btn btn-large btn-primary" %>

  </div>  </div>
</div>
