<% provide(:title, 'Displaying Messages') %>
<div class="row">
  <div class="span6 offset2">

  <%#=@private.each do |f|%>

  <%#=f%>
  <%=@private.date%>
  <%=@private.title%>
  <%=@private.content%>
  <%#=@received%>
  <%#end%> 
      
    </div>
 </div>
