<% provide(:title, 'Send a Private Message') %>


<div class="row">
  <div class="span6 offset2">


<%# if @user.private_messages.any? %>
 <%# @private.each %>
<%#= render @private %>
<%#@sent.each do |f| %>
<%#=f.date%>
<%#=f.sender%>
<%#=f.receiver%>
<%#=f.title%>
<%#=f.content%>
</br>
</br>

<h3>Inbox:</h3></br></br>
<%@received_messages.each do |f|%>
<%@sender = User.find_by_id(f.sender)%>
 <div class="well">
<b>Title:</b><%=f.title%></br>
<b>Sender ID:</b><%=@sender.id%></br>
<b>Sender:</b><%=@sender.name%></br>
<%= link_to "Open", f, method: :get%>
</div></br></br>
<%#= link_to "delete", f, method: :delete,
                                     data: { confirm: "Are you sure that you want to delete this micropost?" },
                                     title: f.content %>
  <%# end %>
<%end%>
</br>


  
      </div>
    </div>
 </div>
