<% provide(:title, 'Send a Private Message') %>


<div class="row">
  <div class="span6 offset2">

</br>
</br>
<h3>Outbox:</h3></br></br>


<%@sent_messages.each do |f|%>
<%@recipient = User.find_by_id(f.receiver)%>
 <div class="well">
<b>Title:</b><%=f.title%></br>
<b>Recipient ID:</b><%=@recipient.id%></br>
<b>Recipient:</b><%=@recipient.name%></br>
<%= link_to "Open", f, method: :get%></br></br>
</div>
</br>
<%#show didn't work: http://railsforum.com/viewtopic.php?id=38460%>
<%end%>
</br>


      </div>
    </div>
 </div>
