<% provide(:title, 'Send a Private Message') %>
<h1>Enter details below:</h1>

<div class="row">
  <div class="span6 offset2">
   <% %>
 From:  <%= @sender.name%></br>
 Date sent:  <%= @message.date.to_date%></br>
 Title:  <%= @message.title%></br>
 Content:  <%= @message.content%></br>
 
    </div>
 </div>
