<% provide(:title, 'Send a Private Message') %>


<div class="row">
  <div class="span6 offset2">
   <div class="well">
 <b>From:</b><%= @sender.name%></br>
 <b>Date sent:</b><%= @message.date.to_date%></br>
 <b>Title:</b><%= @message.title%></br>
 <b>Content:</b><%= @message.content%></br>
 </div>
    </div>
 </div>
