<%#=time_select("article", "written_on", :prompt => {:hour => 'Choose hour', :minute => 'Choose minute', :second => 'Choose seconds'})%>
<%#=time_select("article", "written_on", :prompt => {:hour => true})%> 
<%#=time_select("article", "written_on", :prompt => true)%>
<%#=@py%>
<%#=@py%>
 <div class="well">
<b>ID:</b><%= project.id%></br>
<b>Title:</b><%= project.title%></br>
<%=link_to "See more", project%></br>
</div>
<%# @project.each do |f| %>
<%#= f.id %>
<%#= f.time_and_attendances %>


<%#end%>
<%#= @p %>
<%#= @time %>
<%#= @time2 %>

<%#= distance_of_time_in_words(project.date_ended.to_datetime, DateTime.now)%>

<%#=select_day(project.date_ended)%>

<%#=project.date_ended%>
 <%#=project.date_ended.to_datetime.readable_inspect%>
       <%#=project.date_ended.to_datetime.past?%>
<%#=project.date_ended.to_datetime.readable_inspect%>
<%#=project.date_ended%>
<%#= distance_of_time_in_words(project.date_ended.to_datetime, DateTime.now)%>
<%#= DateTime.now.to_date.readable_inspect %>

