<%provide(:title, "Project") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1></h1>
      	<div style="white-space: nowrap">
      
<%= form_tag(projectsupdate_path) do %>
   <%= label_tag(:y, "Task:") %>
   <%= select_tag :y, options_for_select(@task) %> </br></br>
  <%= submit_tag "Continue", :class => "btn" %>
   <%end%>   


      </br>
      </div>
   </section>
  </aside>
</div>