<% provide(:title, "Project") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1></h1>
        <div style="white-space: nowrap">
      <%#= form_for @user do |f| %>
        <%#=f.id%>
      <%#= f.label :Task_Id %>
      <%#= f.text_field :task_id %></br>
 


     <%= form_tag(projectschooseedit_path) do %>

  <%= label_tag(:q, "Project:") %>
  <%= select_tag :q, options_for_select(@array) %> </br>
  <%#=f.select( "task_id", @task.collect {|r| [ r.title, r.id ] }, { :include_blank => true })%>

  <%= submit_tag "Continue",  class: "btn"%>
<%end%>

    

       </div>
   
    </section>
  </aside>
</div>