<% provide(:title, "Project") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
      	<%= link_to "Forecast Task by month",  plan_task_select_month_path, class: "btn btn-large btn-primary" %></br></br>
        <%= link_to "Forecast Task by year", plan_task_select_year_path, class: "btn btn-large btn-primary" %></br></br>
        <%= link_to "Forecast Project by month", plan_project_select_month_path, class: "btn btn-large btn-primary" %></br></br>
        <%= link_to "Forecast Project by year",  plan_project_select_year_path, class: "btn btn-large btn-primary" %></br></br>
        
     </h1>
    </section>
  </aside>
</div>

