<% provide(:title, "Project") %>
<div class="row">
  <aside class="span4">
    <section>
      <ul class="nav nav-list">

  
  <li class="active"><%= link_to "Forecast Task by month", plan_task_select_month_path , {:style=>'color:#303030;', :class => "btn"} %></li></br>
  <li class="active"><%= link_to "Forecast Task by year", plan_task_select_year_path , {:style=>'color:#303030;', :class => "btn"} %></li></br>
  <li class="active"><%= link_to "Forecast Project by month", plan_project_select_month_path , {:style=>'color:#303030;', :class => "btn"} %></li></br>
  <li class="active"><%= link_to "Forecast Project by year", plan_project_select_year_path , {:style=>'color:#303030;', :class => "btn"} %></li></br>
      	
        
  
    </section>
  </aside>
</div>

