<% provide(:title, "Overview") %>

<h3>Overview </h3>
      <%#@y = params[:date]%>
      <%#=@y.fetch("month")%>
      <img src="<%#=Gchart.bar(  :size => '300x300', 
              :title => "example title",
              :bg => 'efefef',
              :legend => ['Hours Done', 'Estimated Hours'], :bar_colors => '3300CC,3399FF',
              :data => [@array])%>"/>

              <%unless @empty_data.empty? %>
<%#unless @array.empty? %>
      <img src="<%=Gchart.line(#:size => '300x300', 
              :size => '500x360', 
              :title => "Hours of work done for month",
              #:bg => 'efefef',
          #    :chartArea => 'left:100',
              :axis_with_labels => 'x,y',
              :axis_labels => [@days],
               :axis_range => [nil, [0,@empty_data.max]],
             # :legend => ['Hours Worked'], #:bar_colors => '3300CC,3399FF',
              :data => @empty_data)%>"/>
</br></br></br>
<%else%>
There are no records of that time.
<%end%>

