<% provide(:title, 'Delete an Employee Record') %>
<h1>Enter the ID of the record you want to delete:</h1>
<div class="row">
  <div class="span6 offset2">
    <div style="white-space: nowrap">
        ID: 345</br> 
Date: 05/10/2012</br>
Hours Worked : 8</br>
Task: Construct Interface</br>
Project: Create Intermediary between systems</br></br></p> 

ID: 657</br> 
Date: 12/10/2012</br>
Hours Worked : 8</br>
Task: Build API</br>
Project: Interface between two websites</br></br></p>

ID: 393</br> 
Date: 17/10/2012</br>
Hours Worked : 8</br>
Task: Build API</br>
Project: Interface between two websites</br></br></p> 


         <%= form_for(Employee.new) do |f| %>
         <%= f.label :Enter_ID %>
             <%= f.text_field :name %>
  <%#= submit_tag("Search") %>
<% end %>
<%= link_to "Delete", menu_path , class: "btn btn-info btn-small" %>

         <%# form_tag Employee.new do |f|%>
            <%#= f.label :Personnel_Number %>
            <%#= f.text_field :name %>
            <%#= f.submit "Add record for Employee", class: "btn btn-large btn-primary" %>
         <%# end %>
    </div>
  </div>
</div>
