<% provide(:title, "Time and Attendance") %>
<div class="row">
   <div style="white-space: nowrap">
  <%#= form_for(@user) do |f| %>
   <div style="white-space: nowrap">
<h1>Employee 1</h1>
<b>

Date: 12/10/2012</br>
Hours Worked : 8</br>
Task: Build API</br>
Project: Interface between two websites</br></br>
      
</br>
      Date: 19/10/2012</br>
Hours Worked : 7</br>
Task: Build API</br>
Project: Interface between two websites</br></br>
      
</br>
      Date: 26/10/2012</br>
Hours Worked : 8</br>
Task: Design</br>
Project: Interface between two websites</br></br>
      
<%#end%>
      </h1>

    </section>
  </aside>
</div>

