<% provide(:title, 'Edit an Employee Record') %>
<h1>Time and Attendance Records</h1>
<div class="row">
  <div style="white-space: nowrap">
    <div class="span6 offset2">
       
       <% if @user.time_and_attendances.any? %>

      <ol>
        <%= render @time_and_attendances %>
      </ol>
      <%= will_paginate @time_and_attendances, :previous_label => t("<-"), :next_label => t("->") %>
      <%= page_entries_info @time_and_attendances %>

      <% else %>
    
   

<h2> No time and attendance records found!</h2>
 
    <% end %>
<%= link_to "Home", root_path , class: "btn btn-info btn-small" %>
  </div>
  </div>
   
</div>

