<% provide(:title, "Menu") %>
<div class="row">
   <div style="white-space: nowrap">
 
   <div style="white-space: nowrap">
   	<%= link_to "Add Time and Attendance record", addtime_path , class: "btn btn-large btn-primary" %></br></br>
<%= link_to "View Time and Attendance record", viewtime_path , class: "btn btn-large btn-primary" %></br></br>
      </h1>

    </section>
  </aside>
</div>

