<% provide(:title, "Time and Attendance") %>
<div class="row">
   <div style="white-space: nowrap">
   	<div class="well">

    <b>Record ID:</b> <%= @time_and_attendance.id %></br>
   	<b>Belongs to user:</b> <%= @user.name %></br>
   	<b>Belongs to project:</b><%= @project.title %></br>
   	<b>Belongs to task:</b><%= @task.title %></br>

 </div></div></div>

