<% provide(:title, "Time and Attendance") %>
<div class="row">
   <div style="white-space: nowrap">
   	Record ID: <%= @time_and_attendance.id %></br>
   	Belongs to user: <%= @time_and_attendance.user_id %></br>
   	Belongs to project:<%= @time_and_attendance.project_id %></br>
   	Belongs to task:<%= @time_and_attendance.task_id %></br>


 </div></div>

