<% provide(:title, @user.name) %>

<div class="row">


	<aside class="span4">
    <section>
<h2>Absence Records</h2>
</section>
</aside>
 
<% if @user.absences.any? %>
   <aside class="span8">
    <section>
 
<div class="scroll">
      <ol>
      	 <div class="well">
        <%= render @absences %>
        </div>
      </ol>
 </div>
</section>
</aside>
      <% else %>
     <aside class="span8">
    <section>
 
<div class="scroll">
      <ol>
 

<h3> No Absence records found!</h3></br></br></br>
 <%= link_to "Return to main menu", root_path, class: "btn" %>
    <% end %>
      </ol>
 </div>
</section>
</aside>
<%@array = [] %>
<%@user.absences.each do |d|


@array << d.date

end
  %>
 

   
    
  
</div></div></div>

