<% provide(:title, @user.name) %>
<h1>Absence Records</h1>
<div class="row">
   <div style="white-space: nowrap">
    <div class="span6 offset2">
  
<% if @user.absences.any? %>
      <ol>
        
        <%= render @absences %>
   
      </ol>
 <%= will_paginate @absences, :previous_label => t("<-"), :next_label => t("->") %>
      <%= page_entries_info @absences %>

      <% else %>
    
 

<h2> No Absence records found!</h2>
 <%= link_to "Return to main menu", root_path, class: "btn btn-large btn-primary" %>
    <% end %>

<%@array = [] %>
<%@user.absences.each do |d|


@array << d.date

end
  %>
 

   
    
  
</div></div></div>

