<% provide(:title, 'Choose a record') %>

<div class="row">
<aside class="span4">
    <section>
      </br></br></br>
  </br><h2>Fill in an Absence</h2>

  <%# @f.each do |l| %>
  <%#=l.date%>
    <%#=l.user%>
  <%#=link_to "See more", l%>
  <%#end%>
<%#@f = User.all%>

      <%#@f.each do |f|%>
      <%#if f.temporary_positions%>
      <%#f.temporary_positions.each do |t|%>
      <%#=t.id%>
      <%#=t.date%>
      <%#end%><%#end%><%#end%>
    </section>
  </aside>
<aside class="span8">
    <section>
<div class="scroll">
      <%@unfilled_absence.each do |t|%>
      
      <div class="well">
      <b>Date:</b><%=t.date.to_date%></br>
      <b>User:</b><%=(User.find_by_id(t.user_id)).name%></br>
      <%=link_to "Fill in", fill_path(:absence_id => t.id)%></br>
      </div>
     <%end%>
</div>
</section>
  </aside>

    </div>
  </div>
</div>
