<% provide(:title, 'Choose a record') %>
<h1>Choose a record</h1>
<div class="row">
  <div class="span6 offset2">
    <div style="white-space: nowrap">
  <%# @f.each do |l| %>
  <%#=l.date%></br>
    <%#=l.user%>
  <%#=link_to "See more", l%>
  <%#end%>
<%@f = User.all%>

      <%#@f.each do |f|%>
      <%#if f.temporary_positions%>
      <%#f.temporary_positions.each do |t|%>
      <%#=t.id%>
      <%#=t.date%>
      <%#end%><%#end%><%#end%>


      <%@f.each do |f|%></br></br>
      <%if f.absences%>
      <%f.absences.each do |t|%>
      <div class="well">
        <%if t.date.future?%>
      <b>ID:</b><%=t.id%></br></br>
      <b>Date:</b><%=t.date%></br></br>
      <b>User:</b><%=t.user.name%></br></br>
      <%end%>
      <%=link_to "Fill in", fill_path(:absence_id => t.id)%></br>
      </div>
      <%end%><%end%><%end%>

  <%#Absence.find_by_id(params[:id])%></br></br>
      
      <%#@f.temporary_positions.each do |f|%>
      <%#=f.id%></br>
       <%#=f.date%></br>
        <%#=f.reason%></br>
         <%#=f.id%></br>
      <%#end%>

<%#Absence.all.each do |f|%>
      <%#=f.id%></br>
               <%#=link_to "Fill in", f%></br>
     
      <%#end%>

    </div>
  </div>
</div>
