<% provide(:title, 'Absence Management') %>
<div class="row">
  <div class="span6 offset2">
    <%#= form_for(@employee) do |f| %>
<%#= render 'shared/error_messages' %> 
     <div style="white-space: nowrap">
         <%= link_to "Add Absence Record", absencesearchadd_path, class: "btn btn-large btn-primary" %></br></br>
<%= link_to "View Absence Record", absencesearchview_path,class: "btn btn-large btn-primary" %></br></br>
<%= link_to "Fill Absence", absencesfill_path,class: "btn btn-large btn-primary" %></br></br>


  </div>  </div>
</div>
